# Confidential files
secrets.toml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
myenv/
/myenv/
venv/
env/
.env/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Deployed Model files
*.keras
*.h5
*.hdf5
*.pkl
*.pickle
*.joblib
*.prototxt
*.caffemodel
*.pt
*.log

# Large binary files
*.so.*
tensorflow/
pyarrow/
